<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <p class = "search"><b>Search location:</b> {{city}}</p>
        <p class = "search"><b>Search term:</b> {{search_term or 'None Specified'}}</p>
        <section>
            <h2>{{restaurant.get('name')}}</h2>
            <h4> {{restaurant.get('rating')}} stars</h4>
            <img src="{{restaurant.get('image_url')}}" alt="picture of nature" />
            <p><b>Address:</b> {{restaurant.get('display_address')}}</p>
            <p><b>Price:</b> {{restaurant.get('price')}}</p>
            <p><b>Reviews:</b> {{restaurant.get('review_count')}}</p>
        </section>
    </main>
</body>
</html>
