body * {
    box-sizing: border-box;
}

body {
    font-family: 'Chango';
    background-color: #281f4f;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

section {
  margin: 10px;
  border: solid 5px #aaa;
  padding-bottom: 20px;
  background-color: #cef1f6;
}

h2, p, button {
  margin-left: 20px;
  margin-right: 20px;
  color: #281f4f;
}

img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
  main {
    flex-wrap: wrap;
  }
  section {
    width: calc(50% - 20px);
  }
  img {
    width: 100%;
  }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
  main {
    flex-wrap: wrap;
  }
  section {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
